<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="utf-8" />
        <title>Page pour Mobile</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/jquery.mobile-1.4.5.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.mobile-1.4.5.min.js' %}"></script>
    </head> 
    <body>
        
        <div data-role="page" >
           
            <div data-role="header" data-position="fixed">
                <h1>Upload d'images</h1>
            </div>
            
            <div role="main" class="ui-content">
                {% if sauvegarde %}
                <p>Cette image a bient été uploadée.</p>
                {% endif %}
                <div>
                    <form method="post" enctype="multipart/form-data" action="." data-ajax="false">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="ui-btn btn-bottom" />Upload</button>
                    </form>
                </div>
                <div>
                    <a href="{% url 'cameraUpload:index'  %}" class="ui-btn">Index</a>
                </div>
            </div>
            
            <div data-role="footer" data-position="fixed">
                <h4>Essai</h4>
            </div>
            
        </div>
        
    </body>
</html>
