{% extends "baseStudents.html" %}

{% block header %}
    {{classe.branche }}: {{ classe.name }}
{% endblock %}

{% block content %}
<h3 class="ui-bar ui-corner-all titre">{{ prof }}</h3>

<ul id="imageliste" data-role="listview" data-filter="true" data-filter-placeholder="Chercher un élève..." data-inset="true" class="liste">
    {% for eleve in eleves %}
        {% if eleve == vous %}
            <li>Vous</li>
        {% else %}
            <li>{{ eleve.user.username }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}