{% extends "baseTeachers.html" %}

{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'js/imageIndex/afficherfiltresindex.js' %}"></script>
    <script src="{% static 'js/imageIndex/affichertag.js' %}"></script>
    <script src="{% static 'js/imageIndex/refreshButton.js' %}"></script>
{% endblock %}

{% block buttons %}
    <a id="refresh" class="ui-btn ui-btn-icon-right ui-icon-recycle ui-btn-icon-notext button">Rafraîchir</a>
{% endblock %}

{% block header %}
    Images uploadées
{% endblock %}

{% block content %}
<h3 class="ui-bar ui-corner-all titre">Veuillez choisir un tag</h3>

<ul id="imageliste" data-role="listview" data-split-icon="gear" data-filter="true" data-filter-placeholder="Chercher un tag..." data-inset="true" class="liste">
    {% for tag in tags %}
        <li>{{ tag.value }}</li>
    {% endfor %}
</ul>
{% endblock %}
