{% extends "baseTeachers.html" %}

{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'js/imageDetail/afficherfiltresdetail.js' %}"></script>
    <script src="{% static 'js/imageDetail/affichermodifiltres.js' %}"></script>
    <script src="{% static 'js/imageDetail/valueforms.js' %}"></script>
    <script src="{% static 'js/imageDetail/navbar.js' %}"></script>
    <script src="{% static 'js/imageDetail/tailleimage.js' %}"></script>
{% endblock %}

{% block header %}
    Informations
{% endblock %}

{% block navbar %}
<div data-role="navbar">
    <ul>
        <li><a id="btnimage" data-href="image"class="ui-btn-active" data-transition="flip" >Image</a></li>
        <li><a id="btnmodifier" data-href="modifier">Informations</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div id="image">
    <h3 class="ui-bar ui-corner-all titre">Image</h3>
    
    <div class="ui-body ui-corner-all paragraphe">
        <label for="largeur">Largeur de l'image:</label>
        <input type="range" name="largeur" id="largeur" min="0" max="100" value="50">
        
        <img id="imagePrincipale" class="imageCentree ui-corner-all" src="{{ image.image.url }}"/>
    </div>
</div>

<div id="modifier" class="cache">
    <h3 class="ui-bar ui-corner-all titre">Informations</h3>
    
    <div class="ui-body ui-corner-all paragraphe">
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <p class="souligne">Tag:</p>
                <p id="tag">{{ tag }}</p>
                
                <p class="souligne">Description:</p>
                <p id="description">{{ image.description }}</p>
                
                <p id="contraste" class="contraste cache">{{ image.contraste }}</p>
                <p id="saturation" class="saturation cache">{{ image.saturation }}</p>
                <p id="luminosite" class="luminosite cache">{{ image.luminosite }}</p>
                
                <p class="souligne">Date:</p>
                <p>{{ image.date }}</p>
                
            </div>
            <div class="ui-block-b">
                <img id="output" class="imageCentree ui-corner-all" src="{{ image.image.url }}"/></div>
                
            </div>
    </div>
</div>    
{% endblock %}