{% extends "baseTeachers.html" %}

{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'js/imageIndex/afficherfiltresindex.js' %}"></script>
    <script src="{% static 'js/imageIndex/affichertag.js' %}"></script>
    <script src="{% static 'js/imageIndex/refreshButton.js' %}"></script>
{% endblock %}

{% block buttons %}
    <a id="refresh" class="ui-btn ui-btn-icon-right ui-icon-recycle ui-btn-icon-notext button">Rafraîchir</a>
{% endblock %}

{% block header %}
    Images uploadées
{% endblock %}

{% block content %}
<h3 class="ui-bar ui-corner-all titre">Voici les tags</h3>

<div class="ui-body ui-corner-all paragraphe">
    <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
        {% for tag in tags %}
            <div data-role="collapsible" data-inset="true" data-iconpos="right">
                <h4>{{ tag.value }}</h4>
                <div class="ui-grid-b ui-responsive">
                    <div class="ui-block-a"><a href="#" class="ui-btn ui-corner-all button">Images</a></div>
                    <div class="ui-block-b"><a href="#" class="ui-btn ui-corner-all button">Consigne</a></div>
                    <div class="ui-block-a"><a href="#" class="ui-btn ui-corner-all button">Réponse</a></div>
                    <div class="ui-block-b"><a href="#" class="ui-btn ui-corner-all button">Supprimer</a></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
