<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="utf-8" />
        <title>Uploads</title>
        <!-- ligne pour que le contenu s'adapte à l'appreil mobile --> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- chargement des script et du css nécessaire --> 
        {% load staticfiles %}
        <!-- cdn jqm et jq -->
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <!-- mes scripts et css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <!-- script à intégrer séparément sans les templates concernés -->
        <script src="{% static 'js/panel.js' %}"></script>
        <script src="{% static 'js/popupIMG.js' %}"></script>
        <script src="{% static 'js/refreshButton.js' %}"></script>
        <script src="{% static 'js/uploadsLoader.js' %}"></script>
        <script src="{% static 'js/apercuIMG.js' %}"></script>
        <script src="{% static 'js/afficherfiltres.js' %}"></script>
    </head> 
    <body>
        <!-- début de page --> 
        <div data-role="page" id="page" >
        
        <!-- début du panel -->
        <div data-role="panel" id="panel" data-position="left" data-display="overlay">
            <h2>User ##</h2>
            <a href="#" data-rel="close" class="ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-right">Fermer</a>
            <ul data-role="listview" data-inset="true" data-divider-theme="a">
                <li data-role="list-divider">Tableau de bord</li>
                <li><a href="{% url 'uploads:course_index'  %}">Cours</a></li>
                <li><a href="{% url 'uploads:ex_index'  %}">Exercices</a></li>
                <li><a href="http://quiztm-2014-blm08.c9.io/quiz">Quiz</a></li>
                <li><a href="{% url 'uploads:uploaded'  %}">Images</a></li>
                <li><a href="{% url 'uploads:upload'  %}">Upload</a></li>
                <li data-role="list-divider">Personnel</li>
                <li><a href="{% url 'uploads:dashboard'  %}">Dashboard</a></li>
                <li><a href="#">Compte</a></li>
                <li><a href="#">Se deconnecter</a></li>
            </ul>
        </div>
        <!-- fin du panel -->
        
        <!-- début entête --> 
        <div data-role="header" data-position="fixed">
            <a href="#panel" class="ui-btn ui-icon-bars ui-btn-icon-left ui-shadow ui-corner-all">Panel</a>
            <div data-role="controlgroup" data-type="horizontal" class="ui-btn-right">
                {% block buttons %}{% endblock %}
                <a href="#" data-rel="back" class="ui-btn ui-btn-icon-right ui-icon-back ui-btn-icon-notext">Retour</a>
            </div>
        <h1>{% block header %}Base{% endblock %}</h1>
        </div>
        <!-- fin entête -->
        
        <!-- début contenu --> 
        <div role="main" class="ui-content">
        {% block content %}<p>Content</p>{% endblock %}
        </div>
        <!-- fin contenu -->
        
        <!-- début bas de page --> 
        <div data-role="footer" data-position="fixed">
        <h4>Mobile</h4>
        </div>
        <!-- fin bas de page -->
        
        </div>
        <!-- fin de page --> 
    </body>
</html>

