.imageDetail
{
    width: 100%;
}

.center
{
    text-align: center;
}

.btn-bottom
{
    margin-top: 5%;
}

#popupdelete
{
    padding: 5% 10%;
}

#output
{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: auto auto;
}

.cache
{
    display: none;
}