.imageDetail
{
    width: 100%;
}

.center
{
    text-align: center;
}

.btn-bottom
{
    margin-top: 5%;
}

#popupdelete
{
    padding: 5% 10%;
}

#output
{
    max-width: 100%;
    -webkit-filter: contrast(5);
    -webkit-filter: brightness(5);
    -webkit-filter: saturate(5);
}
