{% extends "base.html" %}
{% block header %}{{ course.course_topic}}{% endblock %}
{% block content %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacinia risus<br>
ac nunc tempus ultricies. Sed sodales dui vitae diam rhoncus, porta fermentum<br>
risus vestibulum. Aliquam facilisis facilisis mi a rhoncus. Nunc finibus massa<br>
nunc, ac varius lectus feugiat in. Quisque congue lorem turpis,<br>
pellentesque orci ultrices et. Maecenas massa turpis, rhoncus eget neque non,<br>
convallis tincidunt mi. Sed at arcu sed elit malesuada fermentum et sit amet odio.<br>

Pellentesque eget sollicitudin ex. Vestibulum ullamcorper, eros a suscipit <br>
egestas, erat nunc congue est, sit amet semper neque mauris sed dui. Etiam at <br>
quam egestas, tempus lacus ut, varius elit.</p>
{% endblock %}