{% extends "base.html" %}

{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'js/imageDetail/afficherfiltresdetail.js' %}"></script>
    <script src="{% static 'js/imageDetail/affichermodifiltres.js' %}"></script>
    <script src="{% static 'js/imageDetail/valueforms.js' %}"></script>
    <script src="{% static 'js/imageDetail/navbar.js' %}"></script>
    <script src="{% static 'js/imageDetail/tailleimage.js' %}"></script>
{% endblock %}

{% block header %}
    Modifications
{% endblock %}

{% block navbar %}
<div data-role="navbar">
    <ul>
        <li><a id="btnimage" data-href="image"class="ui-btn-active" data-transition="flip" >Image</a></li>
        <li><a id="btnmodifier" data-href="modifier">Modifications</a></li>
        <li><a id="btnsupprimer" data-href="supprimer">Supprimer</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div id="image">
    <h3 class="ui-bar ui-corner-all titre">Image</h3>
    
    <div class="ui-body ui-corner-all paragraphe">
        <label for="largeur">Largeur de l'image:</label>
        <input type="range" name="largeur" id="largeur" min="0" max="100" value="50">
        
        <img id="imagePrincipale" class="imageCentree ui-corner-all" src="{{ image.image.url }}"/>
    </div>
</div>

<div id="modifier" class="cache">
    <h3 class="ui-bar ui-corner-all titre">Informations</h3>
    
    <div class="ui-body ui-corner-all paragraphe">
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <p class="souligne">Tag:</p>
                <p id="tag">{{ tag }}</p>
                
                <p class="souligne">Description:</p>
                <p id="description">{{ image.description }}</p>
                
                <p id="contraste" class="contraste cache">{{ image.contraste }}</p>
                <p id="saturation" class="saturation cache">{{ image.saturation }}</p>
                <p id="luminosite" class="luminosite cache">{{ image.luminosite }}</p>
                
                <p class="souligne">Date:</p>
                <p>{{ image.date }}</p>
                
            </div>
            <div class="ui-block-b">
                <img id="output" class="imageCentree ui-corner-all" src="{{ image.image.url }}"/></div>
                
            </div>
    </div>    
    <h3 class="ui-bar ui-corner-all titre">Modifications</h3>
    <div class="ui-body ui-corner-all paragraphe">
        <form method="post" action="{% url 'uploads:modify' image.id %}" enctype="multipart/form-data" data-ajax="false">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button" id="btnModifier" />Modifier</button>
        </form>
    </div>
    
</div>    
    
<div id="supprimer" class="cache">
    <h3 class="ui-bar ui-corner-all titre">Zone de danger</h3>
    
    <div class="ui-body ui-corner-all paragraphe">
        <img class="imagePetite imageCentree ui-corner-all" src="{{ image.image.url }}"/>
        <a href="#popupdelete" data-rel="popup" class="ui-btn ui-corner-all ui-icon-delete ui-btn-icon-left button" data-transition="slide">Supprimer</a>
        <!-- popup pour supprimer -->
        <div data-role="popup" id="popupdelete" data-position-to="window" class="ui-corner-all ui-content popup">
            <h3 class="center">!!! Attention !!!</h3>
            <p>Vous êtes sur le point de supprimer cette image.</p>
            <form method="post" action="{% url 'uploads:delete' image.id %}" data-ajax="false">
                {% csrf_token %}
                <button type="submit" class="button" id="btnSupprimer" />Supprimer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}