<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="utf-8" />
        <title>Uploads</title>
        <!-- ligne pour que le contenu s'adapte à l'appreil mobile --> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- chargement des script et du css nécessaire --> 
        {% load staticfiles %}
        <link rel="import" class="panel" href="{% static 'html/panel.html' %}" />
        <link rel="stylesheet" href="{% static 'css/jquery.mobile-1.4.5.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.mobile-1.4.5.min.js' %}"></script>
        <script src="{% static 'js/panel.js' %}"></script>
    </head> 
    <body>
        <!-- début de page --> 
        <div data-role="page" id="page" >
        
        <!-- début entête --> 
        <div data-role="header" data-position="fixed">
            <a href="{% url 'uploads:dashboard'  %}" class="ui-btn ui-icon-home ui-btn-icon-left ui-shadow ui-corner-all">Dashboard</a>
                {% if image.tag %}
        		    <h1>{{ image.tag }}</h1>
        	    {% else %}
        	        <h1>Détail</h1>
        	    {% endif %}
        </div>
        <!-- fin entête -->
        
        <!-- début contenu --> 
        <div role="main" class="ui-content">
            <!-- image -->
            <img class="imageDetail" src="{{ image.image.url }}"/>
            <!-- début liste déroulable -->
        	<div data-role="collapsibleset" data-theme="a" data-content-theme="a">
                <!-- début premier item -->
                <div data-role="collapsible">
                    <h3>Informations</h3>
                    <p>Tag: {{ image.tag }}</p>
                    <p>Description: {{ image.description }}</p>
                    <p>date: {{ image.date }}</p>
                </div>
                <!-- fin premier item -->
                <!-- début deuxième item -->
                <div data-role="collapsible">
                    <h3>Modifications</h3>
                    <P>Salut</P>
                </div>
                <!-- fin deuxième item -->
                <!-- début troisième item -->
                <div data-role="collapsible">
                    <h3>Zone de danger</h3>
                    <p><a href="#popupdelete" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-check ui-btn-icon-left ui-btn-a" data-transition="flip">Supprimer</a></p>
                    <div data-role="popup" id="popupdelete" data-theme="a" class="ui-corner-all conteneur-popup">
                        <div class="popup">
                            <h3 class="center">Attention !!!</h3>
                            <p>Vous êtes sur le point de supprimer cette image.</p>
                            <form method="post" action="{% url 'uploads:delete' image.id %}" data-ajax="false">
                                {% csrf_token %}
                                <button type="submit"  id="btnSupprimer" />Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- fin troisième item -->
            </div>
        </div>
        <!-- fin contenu -->
        
        <!-- début bas de page --> 
        <div data-role="footer" data-position="fixed">
        <h4>Uploads</h4>
        </div>
        <!-- fin bas de page -->
        
        </div>
        <!-- fin de page --> 
    </body>
</html>