{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}<script src="{% static 'js/afficherfiltresdetail.js' %}"></script>{% endblock %}
{% block header %}Modifications{% endblock %}
{% block content %}

<!-- image -->
<img class="imageDetail" src="{{ image.image.url }}"/>
<!-- début liste déroulable -->
<div data-role="collapsibleset" data-theme="a" data-content-theme="a">
    <!-- début premier item -->
    <div data-role="collapsible">
        <h3>Informations</h3>
        <p>Tag: {{ image.tag }}</p>
        <p>Description: {{ image.description }}</p>
        <p class="contraste cache">{{ image.contraste }}</p>
        <p class="saturation cache">{{ image.saturation }}</p>
        <p class="luminosite cache">{{ image.luminosite }}</p>
        <p>date: {{ image.date }}</p>
    </div>
    <!-- fin premier item -->
    <!-- début deuxième item -->
    <div data-role="collapsible">
        <h3>Modifications</h3>
        <form method="post" action="{% url 'uploads:modify' image.id %}" enctype="multipart/form-data" data-ajax="false">
            {% csrf_token %}
            <!-- ici je fais le formulaire manuellement pour résussir a mettre une valeur initiale -->
            <label for="tag">Tag: </label>
            <input id="tag" data-clear-btn="true" type="text" name="tag" maxlength="20" value="{{ image.tag }}">
            
            <label for="description">Description: </label>
            <input id="description" data-clear-btn="true" type="text" name="description" maxlength="500" value="{{ image.description}}">
            
            <button type="submit"  id="btnModifier" />Modifier</button>
        </form>
    </div>
    <!-- fin deuxième item -->
    <!-- début troisième item -->
    <div data-role="collapsible">
        <h3>Zone de danger</h3>
        <p><a href="#popupdelete" data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-a" data-transition="slide">Supprimer</a></p>
        <!-- popup pour supprimer -->
        <div data-role="popup" id="popupdelete" data-theme="a" class="ui-corner-all ui-content">
            <h3 class="center">Attention !!!</h3>
            <p>Vous êtes sur le point de supprimer cette image.</p>
            <form method="post" action="{% url 'uploads:delete' image.id %}" data-ajax="false">
                {% csrf_token %}
                <button type="submit"  id="btnSupprimer" />Supprimer</button>
            </form>
        </div>
        
    </div>
    <!-- fin troisième item -->
</div>
{% endblock %}