{% extends "base.html" %}
{% block script %}
{% load staticfiles %}
<script src="{% static 'js/popupIMG.js' %}"></script>
{% endblock %}
{% block header %}Images uploadées{% endblock %}
{% block content %}
<ul data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true">
    {% for image in images %}
        <li><a href="#popup{{ image.id }}" data-rel="popup" data-position-to="window" data-transition="slide">
            <img src="{{ image.image.url }}">
            <p>{{ image.tag }}</p> 
            <p>id: {{ image.id }}</p></a>
            <a href="{% url 'uploads:detail_uploaded' image.id  %}"></a>
            <!-- popup avec l'image personalisé -->
            <div data-role="popup" id="popup{{ image.id }}" class="popupIMG conteneur-popup">
                <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Fermer</a><img src="{{ image.image.url }}" class="ui-corner-all">
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}