{% extends "base.html" %}

{% block header %}
    Inscription
{% endblock %}

{% block content %}
    <h3 class="ui-bar ui-corner-all titre">Veuillez remplir les champs suivants</h3>
    <div class="ui-body ui-corner-all paragraphe">
        <a href='{% url 'uploads:connexion' %}' class="ui-btn ui-corner-all button" data-ajax="false">Se connecter</a>
        {% if erreur %}
        <p><strong>Connexion échouée</strong></p>
        {% endif %}
        
        <form method="POST" action="{% url 'uploads:register' %}" data-ajax="false">
            {% csrf_token %}
            {{ registerform }}
            <button type="submit" class="ui-btn ui-corner-all button">S'inscrire</button>
        </form>
    </div>
    
{% endblock %}
    