<!DOCTYPE html> 
<html> 
    <head>
        <meta charset="utf-8" />
        <title>Uploads</title>
        <!-- ligne pour que le contenu s'adapte à l'appreil mobile --> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- chargement des script et du css nécessaire --> 
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/jquery.mobile-1.4.5.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <script src="{% static 'js/jquery.mobile-1.4.5.min.js' %}"></script>
    </head> 
    <body>
        <!-- début de page --> 
        <div data-role="page" >
        
        <!-- début entête --> 
        <div data-role="header" data-position="fixed">
        <h1>Uploads</h1>
        </div>
        <!-- fin entête -->
        
        <!-- début contenu --> 
        <div role="main" class="ui-content">
            <!-- quand l'image a été uploadée cette ligne s'afficher --> 
            {% if sauvegarde %}
                <p>Cette image a bient été uploadée.</p>
            {% endif %}
            <div>
                <!-- formulaire pour upload de l'image, data-ajax="false" permet d'éviter des chargements propres a jQM qui empêchent le bon fonctionnement des formulaires  --> 
                <form method="post" enctype="multipart/form-data" action="." data-ajax="false">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="ui-btn btn-bottom" />Uploader !</button>
                </form>
            </div>
            <div>
                <!-- bouton pour revenir au dashbord -->
                <a href="{% url 'uploads:dashboard'  %}" class="ui-btn">Retour</a>
            </div>
        </div>
        <!-- fin contenu -->
        
        <!-- début bas de page --> 
        <div data-role="footer" data-position="fixed">
        <h4>Uploads</h4>
        </div>
        <!-- fin bas de page -->
        
        </div>
        <!-- fin de page --> 
    </body>
</html>