{% extends "base.html" %}
{% block header %}Upload{% endblock %}
{% block content %}
<!-- quand l'image a été uploadée cette ligne s'afficher --> 
{% if sauvegarde %}
    <p>Cette image a bient été uploadée.</p>
{% endif %}
<div>
    <!-- formulaire pour upload de l'image, data-ajax="false" permet d'éviter des chargements propres a jQM qui empêchent le bon fonctionnement des formulaires  --> 
    <form method="post" enctype="multipart/form-data" action="." data-ajax="false">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="ui-btn btn-bottom buttonLoad" data-textonly="false" data-textvisible="true" data-msgtext="L'image est en chargement" data-inline="true">Uploader !</button>
    </form>
</div>
{% endblock %}