{% extends "base.html" %}

{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'js/upload/adapterfiltres.js' %}"></script>
    <script src="{% static 'js/upload/afficherapercu.js' %}"></script>
    <script src="{% static 'js/upload/uploadsLoader.js' %}"></script>
{% endblock %}

{% block header %}
    Upload
{% endblock %}

{% block content %}
    <h3 class="ui-barui-corner-all titre">Veuillez remplir les champs suivants:</h3>
    <div class="ui-body ui-corner-all paragraphe">
        <div>
            {% if sauvegarde %}
                <p>Cette image a bient été uploadée.</p>
            {% endif %}
            <form method="post" enctype="multipart/form-data" action="." data-ajax="false">
                {% csrf_token %}
                <ul data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#autocomplete-input">
                    {% for tag in tags %}
                    <li><a href="#">{{ tag.value }}</a></li>
                    {% endfor %}
                </ul>
                {{ form.as_p }}
                <div id="image"> 
                    <img id="output" class="imageCentree ui-corner-all" style="-webkit-filter: contrast(2); -webkit-filter: brightness(1.5); -webkit-filter: saturate(0);"/>
                </div>
                <button type="submit" class="ui-btn btn-bottom buttonLoad ui-corner-all button" data-textonly="false" data-textvisible="true" data-msgtext="L'image est en chargement" data-inline="true">Uploader !</button>
            </form>
        </div>
    </div>
{% endblock %}
