{% extends "base.html" %}

{% block header %}
    Bienvenue
{% endblock %}

{% block content %}
    <h3 class="ui-bar ui-bar-a ui-corner-all">Bienvenue sur notre site</h3>
    <div class="ui-body ui-body-a ui-corner-all">
        <fieldset class="ui-grid-a ui-responsive" >
            <div class="ui-block-a"><a href="{% url 'uploads:connexion'  %}" class="ui-btn ui-corner-all button" data-ajax="false" >Se connecter</a></div>
            <div class="ui-block-b"><a href="{% url 'uploads:register'  %}" class="ui-btn ui-corner-all button" data-ajax="false" >S'inscrire</a></div>
        </fieldset>
    </div>
{% endblock %}